[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/preethipy
[access "refs/for/refs/*"]
	read = group user/preethipy
	push = group user/preethipy
	label-Code-Review = -2..+2 group user/preethipy
	label-Verified = -1..+1 group user/preethipy
	rebase = group user/preethipy
	removeReviewer = group user/preethipy
	submit = group user/preethipy
[access "refs/heads/*"]
	read = group user/preethipy
	create = group user/preethipy
	push = +force group user/preethipy
	pushMerge = group user/preethipy
[access "refs/tags/*"]
	push = +force group user/preethipy
	pushTag = group user/preethipy
	pushSignedTag = group user/preethipy
