<!DOCTYPE html>
<html>
        <head>
        	   <title>
        	   	       mycrush
        	   </title>
        	   <link type="text/css" rel="stylesheet" href="mycrush.css" />
        <head>

        <body>
        	<header>
        		<p> My crush </br> intelligent dating app</p>
        	    <form name="signup" method="post">
                 Enter your name: <input type="text" name="first_name">
                  <input type="submit">
                </form>
                <img src="watson.jpg"  />
        	</header>
        	   

        </body>
</html>
